absl-py==0.7.1
alabaster==0.7.8
apturl==0.5.2
asgiref==3.2.3
asn1crypto==0.24.0
astor==0.8.0
astroid==2.3.3
atomicwrites==1.1.5
attrs==18.2.0
auto-sklearn==0.6.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
blinker==1.4
bokeh==1.2.0
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
colorcet==2.0.2
command-not-found==0.3
ConfigSpace==0.4.11
convertdate==2.2.0
cryptography==2.3
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.14
decorator==4.3.0
defer==1.0.6
defusedxml==0.6.0
distro==1.3.0
distro-info===0.21ubuntu2
docutils==0.14
entrypoints==0.3
Flask==1.1.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
gast==0.2.2
google==2.0.2
google-apputils==0.4.2
google-pasta==0.1.7
grpcio==1.21.1
h5py==2.9.0
holidays==0.9.11
holoviews==1.12.7
html5lib==1.0.1
httplib2==0.11.3
hvplot==0.5.2
idna==2.6
imagesize==1.0.0
imbalanced-learn==0.5.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
joblib==0.14.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kazam==1.4.5
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
liac-arff==2.4.0
lockfile==0.12.2
logilab-common==1.4.2
louis==3.8.0
lunardate==0.2.0
lxml==4.4.2
macaroonbakery==1.2.1
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
modin==0.6.2
more-itertools==4.2.0
nbconvert==5.5.0
nbformat==4.4.0
netifaces==0.10.4
nltk==3.4.4
nose==1.3.7
notebook==5.7.8
numpy==1.17.4
numpydoc==0.7.0
oauth==1.0.1
oauthlib==2.1.0
olefile==0.46
ortools==7.2.6977
packaging==19.0
pandas==0.25.3
pandocfilters==1.4.2
param==1.9.2
parso==0.4.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.8.0
psutil==5.5.1
ptyprocess==0.6.0
py==1.7.0
pycairo==1.16.2
pycodestyle==2.4.0
pycrypto==2.6.1
pyct==0.4.6
pycups==1.9.73
pyflakes==2.0.0
Pygments==2.4.0
PyGObject==3.32.0
PyJWT==1.7.0
pylint==2.4.4
pymacaroons==0.13.0
PyMeeus==0.3.6
PyNaCl==1.3.0
pynisher==0.5.0
pyparsing==2.2.0
PyQt5==5.12.1
pyRFC3339==1.1
pyrfr==0.8.0
pyrsistent==0.15.2
pystan==2.19.1.1
pytest==3.10.1
python-apt==1.8.4
python-dateutil==2.7.3
python-debian==0.1.34
python-gflags==3.1.2
pytz==2018.9
pyviz-comms==0.7.2
pyxdg==0.25
PyYAML==5.1
pyzmq==18.0.1
QtAwesome==0.4.4
qtconsole==4.5.0
QtPy==1.3.1
rake-nltk==1.0.4
reportlab==3.5.18
requests==2.21.0
requests-unixsocket==0.1.5
roman==2.0.0
rope==0.10.5
scikit-learn==0.21.3
scipy==1.3.2
seaborn==0.9.0
SecretStorage==2.3.1
Send2Trash==1.5.0
setuptools-git==1.2
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
sklearn==0.0
smac==0.8.0
soupsieve==1.9.1
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
spyder==3.3.2
spyder-kernels==0.2.4
SQLAlchemy==1.3.8
sqlparse==0.3.0
system-service==0.3
systemd-python==234
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
Theano==1.0.4
tornado==6.0.2
traitlets==4.3.2
typed-ast==1.4.0
typing==3.7.4.1
ubuntu-advantage-tools==19.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
usb-creator==0.3.3
virtualenv==16.7.8
wadllib==1.3.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
wordcloud==1.5.0
wordcount==1.0
wrapt==1.11.2
WTForms==2.2.1
xgboost==0.90
xkit==0.0.0
xlrd==1.2.0
zope.interface==4.3.2
